/* Reset CSS
------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font families
----------------*/
@font-face {
  font-family: "Agrandir-GrandHeavy";
  src: url("./fonts/Agrandir/Agrandir-GrandHeavy.otf");
}
@font-face {
  font-family: "Agrandir-GrandLight";
  src: url("./fonts/Agrandir/Agrandir-GrandLight.otf");
}
@font-face {
  font-family: "Agrandir-Narrow";
  src: url("./fonts/Agrandir/Agrandir-Narrow.otf");
}
@font-face {
  font-family: "Agrandir-Regular";
  src: url("./fonts/Agrandir/Agrandir-Regular.otf");
}
@font-face {
  font-family: "Agrandir-WideLight";
  src: url("./fonts/Agrandir/Agrandir-WideLight.otf");
}
@font-face {
  font-family: "Agrandir-TextBold";
  src: url("./fonts/Agrandir/Agrandir-TextBold.otf");
}
@font-face {
  font-family: "Whirly Bats";
  src: url("./fonts/Whirlybats.ttf");
}
@font-face {
  font-family: "Etoile";
  src: url("./fonts/Etoile/Etoile-Regular/Etoile-Regular.ttf");
}
@font-face {
  font-family: "Crafter";
  src: url("./fonts/Crafter/Crafter-Regular.otf");
}

.specialChar {
  font-family: "Whirly Bats";
}
.specialChar:hover {
  animation: animateFont 0.75s ease 0s infinite normal none running;
}
/* Global declarations
----------------------*/
:root {
  --max-height: 50px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Agrandir-Regular";
  background-color: #e8e8e8;
  color: #47261b;
  font-size: 48px;
  background-image: url("./images/bg_dark.png");
  background-position: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: #402a1e;
}
a:hover {
  text-decoration: line-through;
}

/* Header
----------------------*/
div.header {
  padding: 2.75% 2.75% 0 2.75%;
}
div#nonScrolling {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
div.logo {
  width: 50%;
  display: inline-block;
}
.logo img {
  width: 8.5%;
}
div.menu {
  width: 47.25%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin-right: 2.75%;
  margin-bottom: 2.75%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
span.lightDark {
  font-size: 50%;
  margin: 5%;
  padding: 1% 0.5% 0.25% 0.5%;
  vertical-align: middle;
  border: #402a1e 1px solid;
  border-radius: 12px;
}
span.lightMode:hover,
span.darkMode:hover {
  cursor: pointer;
}
/* Main Header
---------------*/
div.content {
  padding: 2.5%;
}
div.menubutton {
  width: 10%;
  display: inline-block;
}
div.laurence {
  width: 45%;
  display: inline-block;
}
div.menuoptions {
  width: 40%;
  display: inline-block;
}
div.menuoptions h2 {
  display: inline-block;
  width: 25%;
  text-align: center;
}
h1 {
  font-family: "Etoile";
}
h2,
h3 {
  font-family: "Crafter";
  font-size: 50%;
}
h3 {
  color: #c07a35;
}

/* Scroll menu
----------------------*/

#scrolling div.menu {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
div#scrolling {
  vertical-align: text-top;
  display: none;
  font-size: 75%;
  color: #f8f9f0;
  background-color: #402a1e;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  position: fixed;
  transition: all 2s smooth;
  top: 0px;
  width: 100%;
  height: 0;
  -moz-animation: slide 1s ease 0s forwards;
  -webkit-animation: slide 1s ease 0s forwards;
  -o-animation: slide 1s ease 0s forwards;
  -ms-animation: slide 1s ease 0s forwards;
  animation: slide 1s ease 0s forwards;
}

div#scrolling div.menu {
  padding-right: 2.5%;
  width: 40%;
}
div#scrolling a {
  color: #f8f9f0;
}
#scrolling img {
  width: 4.25%;
}
/* About
----------------------*/
div.about {
  margin-top: 2.5%;
  height: 65vh;
  vertical-align: middle;
}
div.right {
  font-size: 80%;
  text-align: left;
  width: 25%;
  height: 65vh;
  display: inline-block;
}
div.left {
  font-size: 80%;
  text-align: right;
  width: 25%;
  height: 65vh;
  display: inline-block;
}
div.center {
  line-height: 125%;
  text-align: center;
  font-family: "Agrandir-GrandHeavy";
  font-size: 150%;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 75vh;
  background-image: url("./images/profile_image_eye_em_1.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: top;
}
span.emph {
  font-family: "Agrandir-GrandLight";
}

/* Posts
---------*/
div#writing {
  padding-top: 5%;
}
div.posts {
  margin: 5%;
}
.posts h3 {
  font-family: "Agrandir-TextBold";
  font-size: 80%;
  margin-bottom: 1%;
}
.posts h5 {
  font-size: 65%;
}
.posts p {
  font-size: 50%;
}
.posts a:hover {
  text-decoration: underline;
}
div.singlePost {
  width: 33.3%;
  display: inline-block;
}
/* Work
----------*/
div.projects {
  vertical-align: top;
}
.projects h2 {
  font-family: "Agrandir-TextBold";
  font-size: 150%;
  text-align: center;
  padding-top: 4%;
}
div.project {
  margin: 2.5% 5% 0% 5%;
  display: inline-block;
}
div.projectDescription {
  border-top: #402a1e 2px solid;
  padding-top: 2.5%;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 2.5%;
}
.projectDescription p {
  font-size: 75%;
}
.projectDescription h3 {
  margin-bottom: 1%;
}
div.projectImage {
  vertical-align: top;
  width: 35%;
  display: inline-block;
  padding: 2.5% 2.5%;
}
div.projectStack {
  vertical-align: top;
  margin-top: 2.5%;
  width: 20%;
  display: inline-block;
}
.projectImage img {
  width: 100%;
}
.projectStack h4 {
  font-size: 80%;
  margin-bottom: 2%;
}
.projectStack ol {
  font-size: 70%;
}
.seeWork {
  padding: 2%;
  font-size: 50%;
  background-color: #9f8a78;
  color: #f8f9f0;
  border-radius: 5px;
}
/*  Misceleneous
------------------*/
h3.title {
  font-family: "Agrandir-TextBold";
  text-align: center;
}
div.elements {
  padding: 5%;
}
div.element {
  width: 16.66%;
  display: inline-block;
  text-align: center;
}
.elements img {
  width: 40px;
}
p.copyright {
  text-align: center;
  font-size: 50%;
  padding-bottom: 2.5%;
}
hr.separator {
  width: 75%;
  height: 2px;
  background: #9f8a78;
}
p.separator {
  padding: 5% 0 2.5% 0;
  text-align: center;
}
div.sharable {
  padding: 0 5% 0 5%;
  vertical-align: top;
}
.media {
  margin: 2.5%;
  width: 42%;
  display: inline-block;
  vertical-align: top;
}
.media iframe {
  width: 100%;
  padding-bottom: 2.5%;
}

/*  Media Queries
-------------------*/

@media (max-width: 1360px) {
  div.logo {
    width: 40%;
  }
  div.menu {
    width: 57.25%;
  }
}
@media (max-width: 1150px) {
  div.logo {
    width: 20%;
  }
  div.menu {
    width: 77.25%;
  }
  .logo img {
    width: 20%;
  }
  div#scrolling div.logo {
    width: 100px;
  }
  div#scrolling .logo img {
    width: 30%;
  }
  div#scrolling div.menu {
    width: 70%;
  }
}
@media (max-width: 850px) {
  div.logo {
    width: 10%;
  }
  div.menu {
    width: 87.25%;
  }
  .logo img {
    width: 40%;
  }
  body:not(div#scrolling div.menu) {
    font-size: 36px;
  }
  /* About
  ------------*/
  div.left,
  div.center,
  div.right {
    width: 90%;
    padding: 5%;
  }

  div.about,
  div.left,
  div.right {
    height: inherit;
    margin-top: 0;
  }
  div.left,
  div.right {
    vertical-align: top;
  }
  br {
    font-size: 0;
  }
  div.center {
    height: 50vh;
  }
  /* Projects/Work
  -----------------*/
  div.projectDescription {
    width: 100%;
  }
  div.projectImage {
    width: 50%;
  }
  div.projectStack {
    width: 40%;
  }
}
@media (max-width: 600px) {
  div#scrolling div.menu {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  :root {
    --max-height: 25px;
  }
  div.logo {
    width: 40%;
  }
  div.menu {
    width: 100%;
    text-align: center;
  }
  div.logo {
    width: 100%;
    text-align: center;
  }

  .logo img:not(#top) {
    width: 10%;
  }
  div#scrolling div.logo {
    width: 10%;
  }
  div#scrolling div.menu {
    width: 80%;
  }
  span.lightDark {
    display: inline-block;
  }
  body {
    font-size: 28px;
  }

  div.singlePost {
    width: 40%;
    margin: 5% 2.5% 2.5% 2.5%;
    padding: 2%;
    vertical-align: top;
    border: 1px solid #402a1e;
    border-radius: 12px;
  }

  /* Media: Playlists and podcasts
  -------------------------------*/
  div.media {
    width: 92%;
  }
}

/* Transitions
---------------*/
@-moz-keyframes slide /* Firefox */ {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}

@-webkit-keyframes slide /* Safari and Chrome */ {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}

@-ms-keyframes slide /* IE10 */ {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}
@keyframes animateFont {
  0% {
    font-variation-settings: "anim" 100;
  }
  10% {
    font-variation-settings: "anim" 110;
  }
  20% {
    font-variation-settings: "anim" 120;
  }
  30% {
    font-variation-settings: "anim" 130;
  }
  40% {
    font-variation-settings: "anim" 140;
  }
  50% {
    font-variation-settings: "anim" 150;
  }
  60% {
    font-variation-settings: "anim" 160;
  }
  70% {
    font-variation-settings: "anim" 170;
  }
  80% {
    font-variation-settings: "anim" 180;
  }
  90% {
    font-variation-settings: "anim" 190;
  }
  100% {
    font-variation-settings: "anim" 200;
  }
}
@-moz-keyframes animateFont {
  0% {
    font-variation-settings: "anim" 100;
  }
  10% {
    font-variation-settings: "anim" 110;
  }
  20% {
    font-variation-settings: "anim" 120;
  }
  30% {
    font-variation-settings: "anim" 130;
  }
  40% {
    font-variation-settings: "anim" 140;
  }
  50% {
    font-variation-settings: "anim" 150;
  }
  60% {
    font-variation-settings: "anim" 160;
  }
  70% {
    font-variation-settings: "anim" 170;
  }
  80% {
    font-variation-settings: "anim" 180;
  }
  90% {
    font-variation-settings: "anim" 190;
  }
  100% {
    font-variation-settings: "anim" 200;
  }
}
@-webkit-keyframes animateFont {
  0% {
    font-variation-settings: "anim" 100;
  }
  10% {
    font-variation-settings: "anim" 110;
  }
  20% {
    font-variation-settings: "anim" 120;
  }
  30% {
    font-variation-settings: "anim" 130;
  }
  40% {
    font-variation-settings: "anim" 140;
  }
  50% {
    font-variation-settings: "anim" 150;
  }
  60% {
    font-variation-settings: "anim" 160;
  }
  70% {
    font-variation-settings: "anim" 170;
  }
  80% {
    font-variation-settings: "anim" 180;
  }
  90% {
    font-variation-settings: "anim" 190;
  }
  100% {
    font-variation-settings: "anim" 200;
  }
}
