/* Reset CSS
------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  /* line-height: 1; */
  font-size: 28px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font families
----------------*/
@font-face {
  font-family: "Agrandir-GrandHeavy";
  src: url("./fonts/Agrandir/Agrandir-GrandHeavy.otf");
}
@font-face {
  font-family: "Agrandir-GrandLight";
  src: url("./fonts/Agrandir/Agrandir-GrandLight.otf");
}
@font-face {
  font-family: "Agrandir-Narrow";
  src: url("./fonts/Agrandir/Agrandir-Narrow.otf");
}
@font-face {
  font-family: "Agrandir-Regular";
  src: url("./fonts/Agrandir/Agrandir-Regular.otf");
}
@font-face {
  font-family: "Agrandir-WideLight";
  src: url("./fonts/Agrandir/Agrandir-WideLight.otf");
}
@font-face {
  font-family: "Agrandir-TextBold";
  src: url("./fonts/Agrandir/Agrandir-TextBold.otf");
}
@font-face {
  font-family: "Whirly Bats";
  src: url("./fonts/Whirlybats.ttf");
}
@font-face {
  font-family: "Etoile";
  src: url("./fonts/Etoile/Etoile-Regular/Etoile-Regular.ttf");
}
@font-face {
  font-family: "Etoile Italic";
  src: url("./fonts/Etoile/Etoile-Italic/Etoile-Italic.ttf");
}
@font-face {
  font-family: "Crafter";
  src: url("./fonts/Crafter/Crafter-Regular.otf");
}
@font-face {
  font-family: "Cascadia Code";
  src: url("./fonts/CascadiaCode/ttf/CascadiaCode.ttf");
}

.specialChar {
  font-family: "Whirly Bats";
}
.specialChar:hover {
  cursor: pointer;
  color: var(--menu-hover);
  animation: animateFont 0.75s ease 0s infinite normal none running;
}
/* Global declarations
----------------------*/
:root {
  --max-height: 50px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: adobe-caslon-pro, serif;
  background-color: var(--background-color);
  color: var(--text);
  font-size: 24px;
  padding: 0.75% 7.5% 0 7.5%;
}
a {
  text-decoration: none;
  color: var(--text);
}
a:hover {
  text-decoration: none;
}
.showHover a:hover {
  color: var(--menu-hover);
}
h1 {
  font-family: "Etoile";
  font-size: 150%;
  margin: 1% 0 1% 0;
}
h2,
h3 {
  font-family: "Crafter";
  font-size: 100%;
  margin: 2% 0 1% 0;
}
p {
  margin: 1% 0 1% 0;
}
h3 {
  color: var(--h3);
}
/* Home page
-------------*/

div.latestposts {
  padding: 5% 10% 0 10%;
}
.latestposts h3 {
  padding: 2% 0 2% 0;
}
.latestposts div.postlist {
  width: 60%;
  display: inline-block;
}
.latestposts img {
  position: fixed;
  width: 30%;
  padding: 2.5% 5% 5% 5%;
}
/* Header
----------------------*/
div.header {
  padding: 2.75% 2.75% 0 2.75%;
}
div#nonScrolling {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
div.logo {
  width: 50%;
  display: inline-block;
}
.logo img {
  width: 8.5%;
}
div.menu {
  width: 47.25%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin-right: 2.75%;
  margin-bottom: 2.75%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
span.lightDark {
  font-size: 50%;
  margin: 5%;
  padding: 1% 0.5% 0.25% 0.5%;
  vertical-align: middle;
  border: #402a1e 1px solid;
  border-radius: 12px;
}
span.lightMode:hover,
span.darkMode:hover {
  cursor: pointer;
}
/* Footer
-------------*/

div.footer a {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  div.footer a {
    font-style: italic;
    text-align: center;
  }
}
/* Main Header
---------------*/
div.mainheader {
  padding-bottom: 2%;
}
div.menubutton {
  width: 10%;
  display: inline-block;
}
div.star {
  position: fixed;
  top: 3%;
  font-size: 48px;
  cursor: pointer;
}

div.menuoptions {
  width: 40%;
  display: inline-block;
}
div.menuoptions h2 {
  display: inline-block;
  width: 25%;
  text-align: center;
}

/* Writing Section Page
---------------------*/

div.subjectPostFrame {
  width: 45%;
  display: inline-block;
  margin: 1%;
  padding: 1%;
  /* border: 1px solid #c07a35; */
  border-bottom: 1px solid var(--border);

  border-radius: 20px;
  vertical-align: top;
  text-align: left;
  /* font-size: 150%; */
}
div.subjectPostFrame a:hover {
  text-decoration: none;
}
small {
  /* font-size: 24px; */
}
div.subjectPostFrame p {
  /* font-size: 80%; */
}
div.subjectPostFrame h1 {
  font-weight: 600;
  font-size: 175%;
}
div.subjectPostFrame img {
  width: 20%;
  float: right;
}
/* Scroll menu
----------------------*/

#scrolling div.menu {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* About
----------------------*/
div.about {
  margin-top: 2.5%;
  height: 65vh;
  vertical-align: middle;
  font-size: 200%;
}
div.right {
  font-size: 80%;
  text-align: left;
  width: 25%;
  height: 65vh;
  display: inline-block;
}
div.left {
  font-size: 80%;
  text-align: right;
  width: 25%;
  height: 65vh;
  display: inline-block;
}
div.center {
  line-height: 125%;
  text-align: center;
  font-size: 150%;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 75vh;
  background-image: url("./images/profile_image_eye_em_1.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: top;
}
span.emph {
  text-decoration: underline;
}

/* Work
----------*/
div.projects {
  vertical-align: top;
}
.projects h2 {
  font-family: "Agrandir-TextBold";
  font-size: 150%;
  text-align: center;
  padding-top: 4%;
}
div.project {
  margin: 2.5% 5% 0% 5%;
  display: inline-block;
  font-size: 200%;
}

div.projectDescription {
  border-top: #402a1e 2px solid;
  padding-top: 2.5%;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-top: 2.5%;
}
.projectDescription p {
  font-size: 75%;
}
.projectDescription h3 {
  margin-bottom: 1%;
  font-size: 75%;
}
div.projectImage {
  vertical-align: top;
  width: 35%;
  display: inline-block;
  padding: 2.5% 2.5%;
}
div.projectStack {
  vertical-align: top;
  margin-top: 2.5%;
  width: 20%;
  display: inline-block;
}
.projectImage img {
  width: 100%;
}
.projectStack h4 {
  font-size: 80%;
  margin-bottom: 2%;
}
.projectStack ol {
  font-size: 70%;
}
.seeWork {
  padding: 2%;
  font-size: 50%;
  background-color: var(--work-link-bg);
  color: var(--work-link);
  border-radius: 5px;
}
div.approved button {
  background-color: grey;
  pointer-events: none;
}
/*  Misceleneous
------------------*/
h3.title {
  font-family: "Agrandir-TextBold";
  text-align: center;
}
div.elements {
  padding: 5%;
}
div.element {
  width: 16.66%;
  display: inline-block;
  text-align: center;
}
.elements img {
  width: 40px;
}
p.copyright {
  text-align: center;
  font-size: 50%;
  padding-bottom: 2.5%;
}
hr.separator {
  width: 75%;
  height: 2px;
  background: var(--hr-bg);
}
p.separator {
  padding: 5% 0 2.5% 0;
  text-align: center;
}
div.sharable {
  padding: 0 5% 0 5%;
  vertical-align: top;
}
.media {
  margin: 2.5%;
  width: 42%;
  display: inline-block;
  vertical-align: top;
}
.media iframe {
  width: 100%;
  padding-bottom: 2.5%;
}
.dropcap {
  font-size: 6rem;
  float: left;
  margin: 0.15em 0.1em 0.1em 0;
  line-height: 1.5;
}
.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}
.dropcap:before {
  margin-top: -0.2em;
}
.dropcap:after {
  margin-bottom: -0.25em;
}
/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.postBody a {
  text-decoration: underline;
}
/*  Media Queries
-------------------*/

@media (max-width: 1360px) {
  div.logo {
    width: 40%;
  }
  div.menu {
    width: 57.25%;
  }
}
@media (max-width: 1150px) {
  div.logo {
    width: 20%;
  }
  div.menu {
    width: 77.25%;
  }
  .logo img {
    width: 20%;
  }
  div#scrolling div.logo {
    width: 100px;
  }
  div#scrolling .logo img {
    width: 30%;
  }
  div#scrolling div.menu {
    width: 70%;
  }
  div.star {
    width: 20%;
  }
  div.laurence {
    width: 70%;
  }
  div.menuoptions {
    width: 100%;
    display: block;
  }
  .latestposts img {
    /* float: top; */
    /* position: absolute; */
    /* padding: 2.5% 5% 5% 5%; */
    position: relative;
    display: block;
    width: 100%;
  }
  .latestposts div.postlist {
    width: 100%;
  }
}
@media (max-width: 850px) {
  div.logo {
    width: 10%;
  }
  div.menu {
    width: 87.25%;
  }
  .logo img {
    width: 40%;
  }

  /* About
  ------------*/
  div.left,
  div.center,
  div.right {
    width: 90%;
    padding: 5%;
  }

  div.about,
  div.left,
  div.right {
    height: inherit;
    margin-top: 0;
  }
  div.left,
  div.right {
    vertical-align: top;
  }

  div.center {
    height: 50vh;
  }
  /* Projects/Work
  -----------------*/
  div.projectDescription {
    width: 100%;
  }
  div.projectImage {
    width: 50%;
  }
  div.projectStack {
    width: 40%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--hr);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hr);
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0.75% 5% 0 5%;
  }
}
@media (max-width: 600px) {
  div#scrolling div.menu {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
}
code {
  /* font-family: monospace; */
  /* font-family: "Cascadia Code"; */
  font-size: 14pt;
}
/* Preloader */

div.loading {
  width: 100%;
  height: 150px;
  padding-top: 100px;
}

figure.thing {
  margin: 0;
  transform: translate(-50%, -50%) rotate(0deg) scale(1.4, 1.4);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 150px;
  box-sizing: border-box;
  animation: rotation 20s infinite linear;
}

figure.thing div:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid white;
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 20px;
  animation: shuffle 2s infinite;
}

figure.thing div:nth-child(1) {
  transform: rotate(0deg);
}
figure.thing div:nth-child(1):after {
  animation-delay: -0.5s;
}
figure.thing div:nth-child(2) {
  transform: rotate(45deg);
}
figure.thing div:nth-child(2):after {
  animation-delay: -1s;
}
figure.thing div:nth-child(3) {
  transform: rotate(90deg);
}
figure.thing div:nth-child(3):after {
  animation-delay: -1.5s;
}
figure.thing div:nth-child(4) {
  transform: rotate(135deg);
}
figure.thing div:nth-child(4):after {
  animation-delay: -2s;
}
figure.thing div:nth-child(5) {
  transform: rotate(180deg);
}
figure.thing div:nth-child(5):after {
  animation-delay: -2.5s;
}
figure.thing div:nth-child(6) {
  transform: rotate(225deg);
}
figure.thing div:nth-child(6):after {
  animation-delay: -3s;
}
figure.thing div:nth-child(7) {
  transform: rotate(270deg);
}
figure.thing div:nth-child(7):after {
  animation-delay: -3.5s;
}
figure.thing div:nth-child(8) {
  transform: rotate(315deg);
}
figure.thing div:nth-child(8):after {
  animation-delay: -4;
}

@keyframes rotation {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg) scale(1.4, 1.4);
  }
}
@keyframes shuffle {
  50% {
    transform: scale(0.4, 0.4) rotate(-90deg);
    border-radius: 50%;
  }
}

/* Transitions
---------------*/
@-moz-keyframes slide /* Firefox */ {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}

@-webkit-keyframes slide /* Safari and Chrome */ {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}

@-ms-keyframes slide /* IE10 */ {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}

@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: var(--max-height);
  }
}
@keyframes animateFont {
  0% {
    font-variation-settings: "anim" 100;
  }
  10% {
    font-variation-settings: "anim" 110;
  }
  20% {
    font-variation-settings: "anim" 120;
  }
  30% {
    font-variation-settings: "anim" 130;
  }
  40% {
    font-variation-settings: "anim" 140;
  }
  50% {
    font-variation-settings: "anim" 150;
  }
  60% {
    font-variation-settings: "anim" 160;
  }
  70% {
    font-variation-settings: "anim" 170;
  }
  80% {
    font-variation-settings: "anim" 180;
  }
  90% {
    font-variation-settings: "anim" 190;
  }
  100% {
    font-variation-settings: "anim" 200;
  }
}
@-moz-keyframes animateFont {
  0% {
    font-variation-settings: "anim" 100;
  }
  10% {
    font-variation-settings: "anim" 110;
  }
  20% {
    font-variation-settings: "anim" 120;
  }
  30% {
    font-variation-settings: "anim" 130;
  }
  40% {
    font-variation-settings: "anim" 140;
  }
  50% {
    font-variation-settings: "anim" 150;
  }
  60% {
    font-variation-settings: "anim" 160;
  }
  70% {
    font-variation-settings: "anim" 170;
  }
  80% {
    font-variation-settings: "anim" 180;
  }
  90% {
    font-variation-settings: "anim" 190;
  }
  100% {
    font-variation-settings: "anim" 200;
  }
}
@-webkit-keyframes animateFont {
  0% {
    font-variation-settings: "anim" 100;
  }
  10% {
    font-variation-settings: "anim" 110;
  }
  20% {
    font-variation-settings: "anim" 120;
  }
  30% {
    font-variation-settings: "anim" 130;
  }
  40% {
    font-variation-settings: "anim" 140;
  }
  50% {
    font-variation-settings: "anim" 150;
  }
  60% {
    font-variation-settings: "anim" 160;
  }
  70% {
    font-variation-settings: "anim" 170;
  }
  80% {
    font-variation-settings: "anim" 180;
  }
  90% {
    font-variation-settings: "anim" 190;
  }
  100% {
    font-variation-settings: "anim" 200;
  }
}
/* Fade in and out transition*/

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.send-comment {
  animation: fly 10s;
  -webkit-animation: fly ease 10s;
  -moz-animation: fly ease 10s;
  -o-animation: fly ease 10s;
  -ms-animation: fly ease 10s;
  position: relative;
}

@keyframes fly {
  0% {
    left: 50;
    top: -25;
  }
  2% {
    left: 100;
    top: -50;
  }
  4% {
    left: 150;
    top: -150;
  }
  6% {
    left: 175;
    top: -175;
    transform: rotate(-30deg);
  }
  8% {
    left: 150;
    top: -250;
  }
  10% {
    left: 100;
    top: -300;
  }
  12% {
    left: 150;
    top: -325;
  }
  14% {
    left: 125;
    top: -350;
  }
  16% {
    left: -100;
    top: -400;
  }
  18% {
    left: -150;
    top: -450;
    transform: rotate(-45deg);
  }
  20% {
    left: -200;
    top: -500;
  }
  22% {
    left: -200;
    top: -650;
    transform: rotate(-30deg);
  }
  24% {
    left: -200;
    top: -700;
  }
  26% {
    left: -175;
    top: -750;
  }
  27% {
    left: -150;
    top: -800;
  }
  28% {
    left: -100;
    top: -850;
  }
  29% {
    left: -50;
    top: -875;
  }
  30% {
    left: 0;
    top: 900;
    transform: rotate(0deg);
  }
  31% {
    left: 50;
    top: -925;
  }
  32% {
    left: 100;
    top: -950;
  }
  33% {
    left: 150;
    top: -950;
  }
  34% {
    left: 300;
    top: -1000;
  }
  35% {
    left: 500;
    top: -950;
    transform: rotate(15deg);
  }
  36% {
    left: 550;
    top: -920;
  }
  37% {
    left: 600;
    top: -900;
  }
  38% {
    left: 650;
    top: -900;
  }
  39% {
    left: 750;
    top: -850;
  }
  40% {
    left: 800;
    top: -800;
  }
  41% {
    left: 850;
    top: -750;
  }
  42% {
    left: 900;
    top: -700;
    transform: rotate(45deg);
  }
  43% {
    left: 9500;
    top: -650;
  }
  44% {
    left: 2000;
    top: -600;
  }
  45% {
    left: 1025;
    top: -550;
  }
  46% {
    left: 1050;
    top: -500;
  }
  47% {
    left: 1075;
    top: -475;
  }
  48% {
    left: 1100;
    top: -400;
  }
  49% {
    left: 1125;
    top: -300;
    transform: rotate(75deg);
  }
  50% {
    left: 1150;
    top: -150;
  }
  51% {
    left: 1000;
    top: 0;
  }
  54% {
    left: 1100;
    top: 100;
  }
  57% {
    left: 1050;
    top: 150;
  }
  60% {
    left: 1000;
    top: 250;
  }
  63% {
    left: 850;
    top: 350;
    transform: rotate(100deg);
  }
  66% {
    left: 700;
    top: 450;
    transform: rotate(110deg);
  }
  69% {
    left: 550;
    top: 500;
  }
  72% {
    left: 300;
    top: 350;
    transform: rotate(140deg);
  }
  75% {
    left: 100;
    top: 550;
  }
  78% {
    left: 0;
    top: 550;
    transform: rotate(210deg);
  }
  81% {
    left: -100;
    top: 500;
  }
  85% {
    left: -150;
    top: 400;
    transform: rotate(200deg);
  }
  88% {
    left: -200;
    top: 300;
    transform: rotate(240deg);
  }
  91% {
    left: -150;
    top: 150;
    transform: rotate(270deg);
  }
  94% {
    left: -100;
    top: 100;
    transform: rotate(300deg);
  }
  97% {
    left: -50;
    top: 50;
    transform: rotate(330deg);
  }
  100% {
    left: 0;
    top: 0;
    transform: rotate(360deg);
  }
}

@-moz-keyframes fly {
  0% {
    top: 0;
  }
  100% {
    top: 100;
  }
}

@-webkit-keyframes fly {
  0% {
    top: 0;
  }
  100% {
    top: 100;
  }
}

@-o-keyframes fly {
  0% {
    top: 0;
  }
  100% {
    top: 100;
  }
}

@-ms-keyframes fly {
  0% {
    top: 0;
  }
  100% {
    top: 100;
  }
}
